# 网络设备配置文件模板

## Cisco 路由器配置模板

```cisco
hostname RT-CORE-01
!
no ip domain-lookup
!
interface GigabitEthernet0/0
 description WAN Interface
 ip address 202.96.128.1 255.255.255.252
 no shutdown
!
interface GigabitEthernet0/1
 description LAN Interface
 ip address 192.168.1.1 255.255.255.0
 no shutdown
!
router ospf 1
 network 192.168.1.0 0.0.0.255 area 0
!
line vty 0 4
 password cisco
 login
!
end
```

## Cisco 交换机配置模板

```cisco
hostname SW-ACCESS-01
!
vlan 10
 name SALES
!
vlan 20
 name ENG
!
interface GigabitEthernet0/1
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/2
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk allowed vlan 10,20
!
interface Vlan10
 ip address 192.168.10.1 255.255.255.0
 no shutdown
!
spanning-tree mode rapid-pvst
!
end
```

## Huawei 路由器配置模板

```huawei
sysname RT-CORE-01
#
acl number 2000
 rule 5 permit source 192.168.1.0 0.0.0.255
#
interface GigabitEthernet0/0/0
 description WAN Interface
 ip address 202.96.128.1 255.255.255.252
 undo shutdown
#
interface GigabitEthernet0/0/1
 description LAN Interface
 ip address 192.168.1.1 255.255.255.0
 undo shutdown
#
ospf 1
 area 0.0.0.0
  network 192.168.1.0 0.0.0.255
#
return
```

## Huawei 交换机配置模板

```huawei
sysname SW-ACCESS-01
#
vlan batch 10 20
#
interface GigabitEthernet0/0/1
 port link-type access
 port default vlan 10
#
interface GigabitEthernet0/0/2
 port link-type trunk
 port trunk allow-pass vlan 10 20
#
interface Vlanif10
 ip address 192.168.10.1 255.255.255.0
#
stp mode rstp
#
return
```

## H3C 交换机配置模板

```h3c
sysname SW-ACCESS-01
#
vlan 10
 name SALES
#
vlan 20
 name ENG
#
interface GigabitEthernet1/0/1
 port access vlan 10
#
interface GigabitEthernet1/0/2
 port link-type trunk
 port trunk permit vlan 10 20
#
interface Vlan-interface10
 ip address 192.168.10.1 255.255.255.0
#
stp mode rstp
#
return
```

## Juniper 路由器配置模板

```juniper
set system hostname RT-CORE-01
set interfaces ge-0/0/0 description WAN
set interfaces ge-0/0/0 unit 0 family inet address 202.96.128.1/30
set interfaces ge-0/0/1 description LAN
set interfaces ge-0/0/1 unit 0 family inet address 192.168.1.1/24
set protocols ospf area 0.0.0.0 interface ge-0/0/1
set system login user admin authentication plain-text-password
```

## 使用说明

### 1. 标识符说明

| 厂商 | 主机名 | 接口 | VLAN | 描述 |
|------|--------|------|------|------|
| Cisco | hostname | interface | vlan | description |
| Huawei | sysname | interface | vlan | description |
| H3C | sysname | interface | vlan | description |
| Juniper | set system hostname | interfaces | vlan-tag | description |

### 2. 接口命名规范

| 厂商 | 千兆接口 | 快速以太网 | 万兆接口 |
|------|----------|-----------|----------|
| Cisco | GigabitEthernet0/1 | FastEthernet0/1 | TenGigabitEthernet1/1 |
| Huawei | GigabitEthernet0/0/1 | - | - |
| H3C | GigabitEthernet1/0/1 | - | Ten-GigabitEthernet1/0/1 |
| Juniper | ge-0/0/1 | fe-0/0/1 | xe-0/0/1 |

### 3. VLAN 配置差异

| 厂商 | 创建 VLAN | 接口分配 Trunk | 接口分配 Access |
|------|----------|---------------|----------------|
| Cisco | vlan 10 | switchport mode trunk<br>switchport trunk allowed vlan 10 | switchport mode access<br>switchport access vlan 10 |
| Huawei | vlan 10 | port link-type trunk<br>port trunk allow-pass vlan 10 | port link-type access<br>port default vlan 10 |
| H3C | vlan 10 | port link-type trunk<br>port trunk permit vlan 10 | port access vlan 10 |

### 4. 路由协议配置

#### OSPF

```cisco
! Cisco
router ospf 1
 network 192.168.1.0 0.0.0.255 area 0
```

```huawei
# Huawei
ospf 1
 area 0.0.0.0
  network 192.168.1.0 0.0.0.255
```

#### 静态路由

```cisco
! Cisco
ip route 0.0.0.0 0.0.0.0 202.96.128.2
```

```huawei
# Huawei
ip route-static 0.0.0.0 0.0.0.0 202.96.128.2
```

### 5. 安全配置

#### ACL 配置

```cisco
! Cisco Standard ACL
access-list 10 permit 192.168.1.0 0.0.0.255
access-list 10 deny any

! Cisco Extended ACL
access-list 100 permit tcp 192.168.1.0 0.0.0.255 any eq 80
access-list 100 deny ip any any
```

```huawei
# Huawei Basic ACL
acl number 2000
 rule 5 permit source 192.168.1.0 0.0.0.255
 rule 10 deny source any

# Huawei Advanced ACL
acl number 3000
 rule 5 permit tcp source 192.168.1.0 0.0.0.255 destination any destination-port eq 80
 rule 10 deny ip source any destination any
```

### 6. 常见命令差异对照

| 功能 | Cisco | Huawei | H3C |
|------|-------|--------|-----|
| 保存配置 | `write` 或 `copy running-config startup-config` | `save` | `save` |
| 查看配置 | `show running-config` | `display current-configuration` | `display current-configuration` |
| 查看接口 | `show ip interface brief` | `display ip interface brief` | `display ip interface brief` |
| 进入配置 | `configure terminal` | `system-view` | `system-view` |
| 退出 | `exit` 或 `end` | `quit` 或 `return` | `quit` 或 `return` |
| 删除命令 | `no <command>` | `undo <command>` | `undo <command>` |